body {
    position: relative;
    float: right;
    width: 100%;
    min-height: 100vh;    
    background: linear-gradient(#09090e,#1b0849);
    transition: all .5s cubic-bezier(.685,.0473,.346,1);    
}

.titleH1 { 
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}

label{
    margin-right: 20px;
    font-weight: 600;
    color: rgb(160, 160, 160);
    font-size: 18px;    
}
.div-content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.inputText{
    height: 80px
}
.inputTextField {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d1d5d8;
    background-color: #0000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.buttonSearch{
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 10px;    
    box-shadow: -5px 10px 10px 5px #00000094;
    color: #fff;
    background-color: #004581!important;
    border-style: none!important;
    font-size: 18px!important;
}
.daysOfTheWeekCard{
    display: inline-block!important;
    width: 133px;
    height: 120px;
    text-align: center;
    font-size: 40px!important;
    float: left;
    margin-right: 5px;
    background-color: #88a7e0!important;
    box-shadow: -5px 10px 10px 5px #00000094;
    border-style: none!important;
}
.daysOfTheWeekCardTitle{    
    font-size: 18px!important;
    font-weight: 600;
}

.mainCard {
    height: 300px;
    border-bottom: 1009x;
    margin-bottom: 30px;
    box-shadow: -5px 10px 10px 5px #00000094;
    border-style: none!important;
    background-color: #88a7e0!important;
    font-size: 40px!important;
}

.mainCardChild {
    height: 100%
}

.mainCardColLeft{
    display: inline-block!important;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 70px;
    float: left;
}
.mainCardColLeftTitle{
    font-size: 40px!important;
    font-weight: 600;
}
.mainCardColRight{
    display: inline-block!important;
    width: 70%;
    height: 100%;
    font-size: 16px;    
    float: left;
}

.mainCardColRightMargin{
    margin-bottom: 10px;
}
.spinner{
    text-align: center;
}